@model IEnumerable<Song>

<h2>Purchase Song</h2>

@Html.Partial("_UserMessage")

<div>
  @if (Model != null)
  {
    <h2>Current User: @ViewBag.UserPurchasing.Name</h2>
    <h2>Available in Wallet: @ViewBag.Wallet</h2>
    <br />
    foreach (var song in Model)
    {
      <ul class="list-unstyled">
        <li class="h4"><span class="glyphicon glyphicon-music"></span> Title: <b><i>@song.Name</i></b></li>
        <li class="h4"><span class="glyphicon glyphicon-user"></span>Artist: <b><i>@song.Artist.Name</i></b></li>
        <li class="h4"><span class="glyphicon glyphicon-piggy-bank"></span>Price: <b><i>@song.Price.ToString("c2")</i></b></li>
        <li class="h4">@Html.ActionLink($"Buy {song.Name}", "PurchaseSong", new { User = ViewBag.UserPurchasing.Id, Song = song.Id })</li>
      </ul>
      <br />
    }
    if(Model.Count() <= 0)
        {
          <h3>There are no available songs for this user to purchase.</h3>
        }
  }
</div>