@model IEnumerable<UserSong>

<h2>Refund Song</h2>

@Html.Partial("_UserMessage")

<div>
  @if (Model != null)
  {
    <h2>Current User: @ViewBag.UserRequestingRefund.Name</h2>
    <br />
    foreach (var userSong in Model)
    {
      <ul class="list-unstyled">
        <li class="h4"><span class="glyphicon glyphicon-music"></span> Title: <b><i>@userSong.Song.Name</i></b></li>
        <li class="h4"><span class="glyphicon glyphicon-user"></span> Artist: <b><i>@userSong.Song.Artist.Name</i></b></li>
        <li class="h4"><span class="glyphicon glyphicon-piggy-bank"></span> Price: <b><i>@userSong.Song.Price.ToString("c2")</i></b></li>
        <li class="h4"><span class="glyphicon glyphicon-time"></span> Purchase Date: <b><i>@userSong.PurchaseDate.ToShortDateString()</i></b></li>
        <li class="h4"><span class="glyphicon glyphicon-time"></span> Purchase Time: <b><i>@userSong.PurchaseDate.ToShortTimeString()</i></b></li>
        <li class="h4">@Html.ActionLink($"Refund {userSong.Song.Name}", "RefundSong", new { User = ViewBag.UserRequestingRefund.Id, Song = userSong.SongId })</li>
      </ul>
      <br />
    }
    if (Model.Count() <= 0)
    {
      <h3>This user has not purchased any songs.</h3>
    }
  }
</div>