@{
  ViewBag.Title = "Home Page";
}

<div class="jumbotron">
  <h1>jTunes <span class="glyphicon glyphicon-music"></span></h1>
  <p class="lead">Welcome to jTunes!</p>
  <p>Please select an option below to get started.</p>
</div>

<div class="row flex">
  <div class="col-md-4">
    <h2>Users Options</h2>
    <ul class="list-unstyled">
      <li class="h4">@Html.ActionLink("Purchase a Song", "ChoosePurchaser", "Songs")</li>
      <li class="h4">@Html.ActionLink("Request a Refund", "ChooseRefundee", "Songs")</li>
      <li class="h4">@Html.ActionLink("View Purchased Songs", "PurchasedSongs", "Users")</li>
    </ul>
  </div>
  <div class="col-md-4">
    <h2>Statistics</h2>
    <ul class="list-unstyled">
      <li class="h4">@Html.ActionLink("All Artist Song Sales", "ArtistSongSales", "Artists")</li>
      <li class="h4">@Html.ActionLink("Individual Song Sales", "SongPurchaseCount", "Songs")</li>
      <li class="h4">@Html.ActionLink("Sales by Month", "MonthlySales", "UserSongs")</li>
      <li class="h4">@Html.ActionLink("Top 3 Rated Songs", "TopThreeSongsByRating", "Songs")</li>
      <li class="h4">@Html.ActionLink("Top Artist by Sales", "TopArtistBySales", "Artists")</li>
      <li class="h4">@Html.ActionLink("Top Song by Sales", "TopSongBySales", "Songs")</li>
    </ul>
  </div>
</div>